<th:block th:fragment="bookingsTable(bookings, title)">
    <h4 th:text="${title}"></h4>
    <div th:if="${bookings.size() == 0}" class="no-bookings">
        You don’t have any reservations yet.
    </div>

    <div th:if="${bookings.size() > 0}">
        <table class="container">
            <thead class="example">
            <tr>
                <th class="title">Title</th>
                <th class="start-time">Start time</th>
                <th class="end-time">End time</th>
                <th class="status">Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody th:each="booking : ${bookings}">
            <tr class="booking-info">
                <td th:text="${booking.resource().name()}" class="title"></td>
                <td th:text="${#temporals.format(booking.startTime(), 'yyyy.MM.dd HH:mm')}" class="start-time"></td>
                <td th:text="${#temporals.format(booking.endTime(), 'yyyy.MM.dd HH:mm')}" class="end-time"></td>
                <td th:text="${booking.status()}"
                    th:class="${booking.status().name().toLowerCase()}"
                    th:classappend=" status">
                </td>
                <td>
                    <div th:switch="${booking.status().name()}">
                        <form th:case="'CONFIRMED'" th:action="@{/delete/{id}(id=${booking.id()})}" method="post">
                            <button type="submit" class="btn delete">Delete</button>
                        </form>
                        <button th:case="'PENDING'" class="btn edit"
                                data-id="${booking.id()}"
                                data-start="${#temporals.format(booking.startTime(), 'yyyy-MM-dd\'T\'HH:mm')}"
                                data-end="${#temporals.format(booking.endTime(), 'yyyy-MM-dd\'T\'HH:mm')}">
                            Edit
                        </button>
                        <span th:case="*"></span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
